<div class="container">
  <% if @tree.photo.key %>
    <%= cl_image_tag @tree.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div>
    <h2><%= @tree.name %></h2>
    <p><%= @tree.address %></p>
    <%= link_to user_path(@tree.user) do %>
      <p>Producteur : <%= @tree.user.first_name %> <%= @tree.user.last_name %></p>
    <% end %>
  </div>

  <%= link_to "Edit", edit_tree_path(@tree) %>

  <%= render 'shared/form_adoption', locales: [ @tree, Adoption.new ]%>

  <%= link_to "Back to list", trees_path %>
</div>
